[Unit]
Description=RaspberryPints flow monitor
After=network.target

[Service]
ExecStart=/var/www/html/python/flowmonitor.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
